* **CUST_ID**: Identification of Credit Card holder (Categorical)
* **BALANCE**: Balance amount left in their account to make purchases
* **BALANCE_FREQUENCY**: How frequently the Balance is updated, score between 0 and 1 (1 = frequently updated, 0 = not frequently updated)
* **PURCHASES**: Amount of purchases made from account
* **ONEOFF_PURCHASES**: Maximum purchase amount done in one-go
* **INSTALLMENTS_PURCHASES**: Amount of purchase done in installment
* **CASH_ADVANCE**: Cash in advance given by the user
* **PURCHASES_FREQUENCY**: How frequently the Purchases are being made, score between 0 and 1 (1 = frequently purchased, 0 = not frequently purchased)
* **ONEOFF_PURCHASES_FREQUENCY**: How frequently Purchases are happening in one-go (1 = frequently purchased, 0 = not frequently purchased)
* **PURCHASES_INSTALLMENTS_FREQUENCY**: How frequently purchases in installments are being done (1 = frequently done, 0 = not frequently done)
* **CASH_ADVANCE_FREQUENCY**: How frequently the cash in advance being paid
* **CASH_ADVANCE_TRX**: Number of Transactions made with "Cash in Advanced"
* **PURCHASES_TRX**: Number of purchase transactions made
* **CREDIT_LIMIT**: Limit of Credit Card for user
* **PAYMENTS**: Amount of Payment done by user
* **MINIMUM_PAYMENTS**: Minimum amount of payments made by user
* **PRC_FULL_PAYMENT**: Percent of full payment paid by user
* **TENURE**: Tenure of credit card service for user

In [22]:
import pandas as pd

In [23]:
data = pd.read_csv('data.csv') 
data

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,C19186,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,325.594462,48.886365,0.500000,6
8946,C19187,19.183215,1.000000,300.00,0.00,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,275.861322,NaN,0.000000,6
8947,C19188,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0,5,1000.0,81.270775,82.418369,0.250000,6
8948,C19189,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2,0,500.0,52.549959,55.755628,0.250000,6
8949,C19190,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2,23,1200.0,63.165404,88.288956,0.000000,6

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8950 non-null   object
 1   BALANCE                           8950 non-null   float64
 2   BALANCE_FREQUENCY                 8950 non-null   float64
 3   PURCHASES                         8950 non-null   float64
 4   ONEOFF_PURCHASES                  8950 non-null   float64
 5   INSTALLMENTS_PURCHASES            8950 non-null   float64
 6   CASH_ADVANCE                      8950 non-null   float64
 7   PURCHASES_FREQUENCY               8950 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8950 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8950 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8950 non-null   float64
 11  CASH_ADVANCE_TRX                  8950 non-null   int64
 12  PURCHASES_TRX                     8950 non-null   int64
 13  CREDIT_LIMIT                      8949 non-null   float64
 14  PAYMENTS                          8950 non-null   float64
 15  MINIMUM_PAYMENTS                  8637 non-null   float64
 16  PRC_FULL_PAYMENT                  8950 non-null   float64
 17  TENURE                            8950 non-null   int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.2+ MB

In [25]:
data.describe()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
count,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8949.000000,8950.000000,8637.000000,8950.000000,8950.000000
mean,1564.474828,0.877271,1003.204834,592.437371,411.067645,978.871112,0.490351,0.202458,0.364437,0.135144,3.248827,14.709832,4494.449450,1733.143852,864.206542,0.153715,11.517318
std,2081.531879,0.236904,2136.634782,1659.887917,904.338115,2097.163877,0.401371,0.298336,0.397448,0.200121,6.824647,24.857649,3638.815725,2895.063757,2372.446607,0.292499,1.338331
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,0.000000,0.019163,0.000000,6.000000
25%,128.281915,0.888889,39.635000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,1.000000,1600.000000,383.276166,169.123707,0.000000,12.000000
50%,873.385231,1.000000,361.280000,38.000000,89.000000,0.000000,0.500000,0.083333,0.166667,0.000000,0.000000,7.000000,3000.000000,856.901546,312.343947,0.000000,12.000000
75%,2054.140036,1.000000,1110.130000,577.405000,468.637500,1113.821139,0.916667,0.300000,0.750000,0.222222,4.000000,17.000000,6500.000000,1901.134317,825.485459,0.142857,12.000000
max,19043.138560,1.000000,49039.570000,40761.250000,22500.000000,47137.211760,1.000000,1.000000,1.000000,1.500000,123.000000,358.000000,30000.000000,50721.483360,76406.207520,1.000000,12.000000

In [27]:
# Parse all data from the csv file and print the data
import pandas as pd

input_file = 'data.csv'
output_file = 'results.csv'

data = pd.read_csv(input_file) 

# print(data)

continious_types = {
    'BALANCE': 'Balansas',
    'BALANCE_FREQUENCY': 'Balanso dažnumas',
    'PURCHASES': 'Pirkimai',
    'ONEOFF_PURCHASES': 'Vienkartiniai pirkimai',
    'INSTALLMENTS_PURCHASES': 'Įmokos pirkimai',
    'CASH_ADVANCE': 'Grynaisiais avansas',
    'PURCHASES_FREQUENCY': 'Pirkimų dažnumas',
    'ONEOFF_PURCHASES_FREQUENCY': 'Vienkartinių pirkimų dažnumas',
    'PURCHASES_INSTALLMENTS_FREQUENCY': 'Įmokų pirkimų dažnumas',
    'CASH_ADVANCE_FREQUENCY': 'Grynaisiais avanso dažnumas',
    'CASH_ADVANCE_TRX': 'Grynaisiais avanso operacijos',
    'PURCHASES_TRX': 'Pirkimų operacijos',
    'CREDIT_LIMIT': 'Kreditinė riba',
    'PAYMENTS': 'Mokėjimai',
    'MINIMUM_PAYMENTS': 'Minimalūs mokėjimai',
    'PRC_FULL_PAYMENT': 'Pilnas mokėjimas',
    'TENURE': 'Laikotarpis'
}

rows = []

for type_name, type_translation in continious_types.items():
    count = data[type_name].count()
    empty_percentage = (1 - count / len(data[type_name])) * 100
    unique_values = len(data[type_name].unique())
    min_value = data[type_name].min()
    max_value = data[type_name].max()
    quartile_1 = data[type_name].quantile(0.25)
    quartile_3 = data[type_name].quantile(0.75)
    average = data[type_name].mean()
    median = data[type_name].median()
    std_dev = data[type_name].std()

    df = pd.DataFrame({
        'Atributo pavadinimas': [type_translation],
        'Kiekis (Eilučių sk.)': [count],
        'Trūkstamos reikšmės (%)': [empty_percentage],
        'Kardinalumas': [unique_values],
        'Minimali reikšmė': [min_value],
        'Maksimali reikšmė': [max_value],
        '1-asis kvartilis': [quartile_1],
        '3-asis kvartilis': [quartile_3],
        'Vidurkis': [average],
        'Mediana': [median],
        'Standartinis nuokrypis': [std_dev]
    })

    rows.append(df)

continious_types_table = pd.concat(rows, ignore_index=True)

continious_types_table.to_csv(output_file, index=False)

continious_types_table

,Atributo pavadinimas,Kiekis (Eilučių sk.),Trūkstamos reikšmės (%),Kardinalumas,Minimali reikšmė,Maksimali reikšmė,1-asis kvartilis,3-asis kvartilis,Vidurkis,Mediana,Standartinis nuokrypis
0,Balansas,8950,0.000000,8871,0.000000,19043.13856,128.281915,2054.140036,1564.474828,873.385231,2081.531879
1,Balanso dažnumas,8950,0.000000,43,0.000000,1.00000,0.888889,1.000000,0.877271,1.000000,0.236904
2,Pirkimai,8950,0.000000,6203,0.000000,49039.57000,39.635000,1110.130000,1003.204834,361.280000,2136.634782
3,Vienkartiniai pirkimai,8950,0.000000,4014,0.000000,40761.25000,0.000000,577.405000,592.437371,38.000000,1659.887917
4,Įmokos pirkimai,8950,0.000000,4452,0.000000,22500.00000,0.000000,468.637500,411.067645,89.000000,904.338115
5,Grynaisiais avansas,8950,0.000000,4323,0.000000,47137.21176,0.000000,1113.821139,978.871112,0.000000,2097.163877
6,Pirkimų dažnumas,8950,0.000000,47,0.000000,1.00000,0.083333,0.916667,0.490351,0.500000,0.401371
7,Vienkartinių pirkimų dažnumas,8950,0.000000,47,0.000000,1.00000,0.000000,0.300000,0.202458,0.083333,0.298336
8,Įmokų pirkimų dažnumas,8950,0.000000,47,0.000000,1.00000,0.000000,0.750000,0.364437,0.166667,0.397448
9,Grynaisiais avanso dažnumas,8950,0.000000,54,0.000000,1.50000,0.000000,0.222222,0.135144,0.000000,0.200121
10,Grynaisiais avanso operacijos,8950,0.000000,65,0.000000,123.00000,0.000000,4.000000,3.248827,0.000000,6.824647
11,Pirkimų operacijos,8950,0.000000,173,0.000000,358.00000,1.000000,17.000000,14.709832,7.000000,24.857649
12,Kreditinė riba,8949,0.011173,206,50.000000,30000.00000,1600.000000,6500.000000,4494.449450,3000.000000,3638.815725
13,Mokėjimai,8950,0.000000,8711,0.000000,50721.48336,383.276166,1901.134317,1733.143852,856.901546,2895.063757
14,Minimalūs mokėjimai,8637,3.497207,8637,0.019163,76406.20752,169.123707,825.485459,864.206542,312.343947,2372.446607
15,Pilnas mokėjimas,8950,0.000000,47,0.000000,1.00000,0.000000,0.142857,0.153715,0.000000,0.292499
16,Laikotarpis,8950,0.000000,7,6.000000,12.00000,12.000000,12.000000,11.517318,12.000000,1.338331